<% items.each do |item| %>
	<tr>
		<td><i class="icon icon-asterisk"></i></td>
		<td><%= item.tid %></td>
		<td><%= item.status %></td>
		<td><%= item.updated.strftime('%-d/%-m/%Y') %></td>
		<td><%= item.country %></td>
		<td>
			<a class="btn btn-danger delete" data-id="<%= item._id.to_s %>"><i class="icon-trash icon-white"></i></a>
			<a class="btn btn-success update" data-id="<%= item._id.to_s %>"><i class="icon-refresh icon-white"></i></a>
		</td>
	</tr>
<% end %>